ul {
  list-style: none;
}
body {
  background-color: #EFF;
  font: 2em helvetica;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}
input {
  border: 2px solid #CCC;
  width: 128px;
  height: 74px;
  font-family: helvetica;
  font-size: 2em;
  text-align: center;
  margin: 0 4px;
  padding: 4px;
}
.view {
  /*background-color: rgba(0, 255, 0, 0.1);*/
  text-align: center;
	margin: 0 auto;
	width: 100%;
  /*max-width: 95%;*/
}
.matrix {
  display: inline-block;
  vertical-align: middle;
  /*background-color: rgba(0, 0, 255, 0.2);*/
}
.bad input {
  background-color: rgba(255, 0, 0, 0.3);
}
.good input {
  background-color: rgba(0, 255, 0, 0.3);
}
#CheckText {
  color: red;
}
.spacer {
	height: 0;
	padding-top: 10%;
}
button {
  height: 1.5em;
  font: .7em helvetica;
  font-weight: bold;
  margin: 1.2em 1em;
  background-color: #CCC;
  border: 3px solid #002;
  border-radius: 5px;
}
button:hover {
  border-color: #3CF;
}
button:active {
  border-color: #3CF;
  background-color: white;
}
.X {
  margin-right: 0;
  float: right;
}
.switch {
  margin-left: 3.2em;
  float: left;
}
.row {
  overflow: hidden;
}
.inputs {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.inputs input {
  float: left;
}
.activeButton {
  border: 3px #3CF solid;
  background-color: white;
}
.overlay {
  border: none;
  border-radius: 0;
  
  background-color: gray;
  background-color: rgba(0, 0, 0, 0.82);
  
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  
  text-align: center;
  vertical-align: middle;
  color: white;
  overflow: scroll;
  
  z-index: 10;
}
.overlay input {      
  margin: auto;
  position: absolute;
  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
p {
  padding: 0;
  margin: 0;
}
.small {
  font-size: .5em;
}
.instructions {
  display: inline-block;
  font-size: .4em;
  color: gray;
  max-width: 500px;
}
.instructions li {
  list-style: disc;
}