<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../matrix-row/matrix-row.component.html">

<dom-module id="matrix-view">
  <template>
    <style>
      :host {
        display: flex;
        /*padding: 2em;*/
        
        flex-direction: column;
        /*align-items: center;*/
        /*justify-content: center;*/
        overflow: scroll;
      }
      matrix-row {
        transition: all 0.2s ease-in-out;
        height: 100px;
        flex-shrink: 0;
        /*
          after HOURS of looking, i found this following line is REQUIRED to get the matrix-row to fill the width of the container matrix-view while allowing matrix-view to scroll still
        */
        align-self: baseline;
      }
      
      @media (max-width: 800px), (max-height: 600px) {
        matrix-row {
          width: 100%;
          flex-grow: 1;
          flex-basis: 0;
          flex-shrink: 1;
        }
      }
      
    </style>
    
    <matrix-row>
    </matrix-row>
    
    <matrix-row>
    </matrix-row>
    
    <matrix-row>
    </matrix-row>
    
    <matrix-row>
    </matrix-row>
    <matrix-row>
    </matrix-row>
    
    <matrix-row>
    </matrix-row>
    <matrix-row>
    </matrix-row>
    
    <matrix-row>
    </matrix-row>
    <matrix-row>
    </matrix-row>
    
    <matrix-row>
    </matrix-row>
    <matrix-row>
    </matrix-row>
    
    <matrix-row>
    </matrix-row>
  </template>
  
  <script>
    Polymer ({
      is: 'matrix-view'
    });
    
  </script>
</dom-module>