<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../matrix-row/matrix-row.component.html">

<dom-module id="matrix-view">
  <template>
    <style>
      :host {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2em;
      }
      
    </style>
    
    <matrix-row>
    </matrix-row>
    
    <matrix-row>
    </matrix-row>
    
  </template>
  
  <script>
    Polymer ({
      is: 'matrix-view'
    });
    
  </script>
</dom-module>