<link rel="import" href="../../../../bower_components/polymer/polymer.html">

<dom-module id="matrix-row-controls">
  <template>
    
    <style>
      :host {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -khtml-user-select: none;    /* Konqueror */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* Internet Explorer/Edge */
        user-select: none;
        min-width: 28px
      }
      
      .three-lines {
        display: none;
        background: linear-gradient(to bottom, hsla(240, 10%, 100%, 1), hsla(240, 10%, 95%, 1) 80%);
        
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -o-sticky;
        position: -ms-sticky;
        position: sticky;
        
        box-sizing: border-box;
        
        align-items: center;
        justify-content: center;
        
        height: 32px;
        width: 34px;
        margin: 0;
        
        border: 2px solid hsla(240, 10%, 60%, 1);
        border-radius: 3px;
        
        cursor: pointer;
        
        z-index: 50;
      }
      
      .three-lines svg {
        height: 14px;
      }
      
      .three-lines svg path {
        fill: #555;
      }
      
      .three-lines:active {
        background: hsl(195, 80%, 80%);
      }
      
      .arrow-svg {
        height: 18px;
        fill: white;
      }
      
      .cross-svg {
        height: 14px;
        fill: white;
      }
      
      .plus-svg {
        height: 16px;
        fill: white;
      }
      
      .operations {
        height: 80px;
        
        background: linear-gradient(to bottom, hsla(240, 30%, 10%, 0.8), hsla(240, 100%, 2%, 0.8) );
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        
        position: relative;
        margin: 0;
        
        padding: 0;
        
        box-sizing: border-box;
        
        z-index: 0;
        
        overflow: hidden;
        
        cursor: pointer;
        
        border: 2px solid hsla(240, 10%, 60%, 1);
        border-radius: 3px;
      }
      
      .operations > * + * {
        border-color: inherit;
        border-style: inherit;
        border-width: 0;
        border-top-width: 1px;
      }
      
      .operations > div:active {
        background: hsl(195, 80%, 40%);
      }
      
      .operations > div {
        box-sizing: border-box;
        transition: all .2s ease-in-out, background-color .01s linear;
        overflow: hidden;
        
        display: flex;
        
        align-items: center;
        justify-content: center;
        
        flex-grow: 1;
        flex-basis: 0;
        padding: 4px;
      }
      
      .operations img {
        height: 10px;
      }
      
      .selected {
        cursor: default;
      }
      
      
      @media (max-width: 800px), (max-height: 600px) {
        .three-lines {
          display: flex;
        }
        
        .operations {
          margin: 0;
          width: 0;
          visibility: hidden;
          position: absolute;
          height: 32px;
          flex-direction: row;
          padding-left: 4px;
          top: 0;
          left: 26px;
          border-radius: 0;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }
        
        .operations > * + * {
          border-width: 0;
          border-left-width: 1px;
        }
        
        .operations > div {
          padding: 0;
        }
        
        .expanded {
          animation: forwards .2s ease-in-out grow_operations;
        }
        
        .contracted {
          animation: forwards .2s ease-in-out shrink_operations;
        }
        
        @keyframes grow_operations {
          from {
            width: 0;
            visibility: visible;
          }
          to {
            width: 120px;
            visibility: visible;
          }
        }

        @keyframes shrink_operations {
          from {
            width: 120px;
            visibility: visible;
          }
          to {
            width: 0;
            visibility: hidden;
          }
        }
      }
      
    </style>
    
    <div class = "three-lines" onclick="store.dispatch( { type: 'open operations', operation: { row_1_index: this.parentNode.parentNode.rowIndex } } );">
      <svg xmlns="http://www.w3.org/2000/svg" width="46.123" height="36.063" viewBox="0 0 46.123 36.063"><path d="M46.123 3.606c0 1.992-1.355 3.606-3.026 3.606H3.026C1.355 7.213 0 5.599 0 3.606 0 1.615 1.355 0 3.026 0h40.07c1.672 0 3.027 1.615 3.027 3.606zm0 14.426c0 1.992-1.355 3.606-3.026 3.606H3.026C1.355 21.639 0 20.024 0 18.032c0-1.992 1.355-3.606 3.026-3.606h40.07c1.672 0 3.027 1.614 3.027 3.606zm0 14.426c0 1.991-1.355 3.605-3.026 3.605H3.026C1.355 36.063 0 34.449 0 32.458c0-1.992 1.355-3.606 3.026-3.606h40.07c1.672 0 3.027 1.614 3.027 3.606z"/></svg>
    </div>
    
    <div class="operations">
      <div class="swap-rows operation" onclick="store.dispatch( { type: 'begin operation', operation: { type: 'swap rows', row_1_index: this.parentNode.parentNode.rowIndex } } );">
        <svg name="swap" class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 54.966"><path d="M13.481 37.591h5.263c.769 0 1.254.857.872 1.52-2.957 5.122-5.913 10.243-8.869 15.364-.378.654-1.366.654-1.744 0C6.046 49.354 3.09 44.232.133 39.11c-.383-.662.104-1.52.872-1.52h5.266L6.27 17.374l-5.265-.001c-.769 0-1.255-.857-.872-1.52C3.09 10.733 6.046 5.612 9.002.491c.378-.655 1.365-.655 1.744 0l8.871 15.363c.382.663-.104 1.52-.872 1.52H13.48v20.217z"/></svg>
      </div>
      <div class="multiply-row operation" onclick="store.dispatch( { type: 'begin operation', operation: { type: 'multiply row', row_1_index: this.parentNode.parentNode.rowIndex } } );">
        <svg name="multiply" class="cross-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.523 40.523"><path d="M39.729 34.414L25.36 20.229 39.549 5.855c1.174-1.191.975-3.29-.445-4.688-1.418-1.397-3.52-1.563-4.693-.372L20.229 15.163 5.855.973C4.664-.2 2.565 0 1.167 1.419-.23 2.837-.396 4.938.795 6.112l14.367 14.183L.972 34.67c-1.172 1.189-.973 3.287.445 4.685 1.42 1.397 3.521 1.564 4.692.375l14.186-14.369 14.375 14.19c1.189 1.172 3.287.973 4.684-.445 1.398-1.42 1.564-3.522.375-4.692z"/></svg>
      </div>
      <div class="add-row-multiple operation" onclick="store.dispatch( { type: 'begin operation', operation: { type: 'add row multiple', row_1_index: this.parentNode.parentNode.rowIndex } } );">
        <svg name="add" class="plus-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42.123 42.122"><path d="M39.097 17.455h-14.43V3.026C24.667 1.354 23.052 0 21.061 0c-1.99 0-3.605 1.354-3.605 3.026v14.429H3.025C1.355 17.455 0 19.069 0 21.062c0 1.991 1.355 3.606 3.025 3.605h14.43v14.43c0 1.67 1.615 3.025 3.605 3.025 1.994 0 3.607-1.355 3.607-3.025v-14.43h14.43c1.672 0 3.025-1.614 3.025-3.605.001-1.993-1.353-3.607-3.025-3.607z"/></svg>
      </div>
    </div>
    
    
  </template>
  
  <script>
    Polymer ({
      is: 'matrix-row-controls',
      
      properties: {
        rowIndex: {
          type: Number
        },
        currentState: {
          type: Object,
          notify: true
        }
      },
      listeners: {
        "current-state-changed": 'test'
      },
      
      selectOperation: function (operation) {
        if (typeof operation !== 'string') {
          throw new Error('Invalid operation passed.');
        }
        this.showAllOperators();
        operation = operation.replace(/\s/g, '-');
        
        var keep = this.querySelector( '.'.concat(operation) );
        if (keep) {
          this.querySelectorAll('.operation').forEach( function(element) {
            if (element !== keep) {
              element.style.flexGrow = 0;
              element.style.padding = 0;
              element.style.borderWidth = 0;
            }
          });
        }
      },
      
      select: function(operation) {
        console.log('operation:', operation);
        operation = operation.replace(/\s/g, '-');
        this.querySelector( '.'.concat(operation) ).classList.add('selected');
      },
      
      deselect: function() {
        var selected = this.querySelector('.selected');
        if (selected) {
          selected.classList.remove('selected');  
        }
      },
      
      showAllOperators: function() {
        this.querySelectorAll('.operation').forEach( function(element) {
          element.removeAttribute('style');
        });
      },
      
      closeOperationsTray: function() {
        var tray = this.querySelector('.operations');
        if ( tray.classList.contains('expanded') && !tray.classList.contains('contracted') ) {
          tray.classList.add('contracted');
        }
      },
      
      openOperationsTray: function() {
        var element = this.querySelector('.operations');
        if ( element.classList.contains('contracted') || !element.classList.contains('expanded') ) {
          element.classList.remove('contracted');
          element.classList.add('expanded');
          console.log('show');
        }
        else {
          element.classList.add('contracted');
          console.log('hide');
        }
      },

      handleTap: function(event) {
        var element = this.querySelector('.operations');
        event && event.stopPropagation();
        if ( element.classList.contains('contracted') || !element.classList.contains('expanded') ) {
          element.classList.remove('contracted');
          element.classList.add('expanded');
          console.log('show');
        }
        else {
          element.classList.add('contracted');
          console.log('hide');
        }
      }
    });
  </script>
  
</dom-module>