<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../matrix-row-controls/matrix-row-controls.component.html">

<dom-module id="matrix-row">
  <template>
    <style>
      :host {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
      }
      input {
        transition: font-size 0.05s ease-in-out;
        margin: 4px;
        width: 70px;
        text-align: center;
        font-size: 2.5em;
        -webkit-appearance: none;
        border-radius: 0;
        outline: none;
        box-sizing: border-box;
        border: 2px solid lightgray;
        padding: 5px;
      }
      
      @media (max-width: 800px), (max-height: 600px) {
        input {
          
          flex-grow: 1;
          flex-basis: 0;
        }
        input:focus { 
          border: 2px solid skyblue;
        }
        matrix-row-controls {
          align-self: center;
        }
      }
      @media (min-aspect-ratio: 13/9) {
        input {
          font-size: 20vh;
        }
      }
      @media (max-aspect-ratio: 13/9) {
        input {
          font-size: 20vw;
        }
      }
    </style>
    
    <matrix-row-controls is-hidden = "[[derp]]" >
    </matrix-row-controls>
    
    <input>
    <input>
  </template>
  
  <script>
    Polymer ({
      is: 'matrix-row',
      
      ready: function() {
        GLOBAL_DEBUG.derp = Polymer.dom(this.root).querySelectorAll('input');
        GLOBAL_DEBUG.thing = this;
        console.dir(this);
      },
      attached: function() {
        console.log('derp');
        Polymer.dom(this.root).querySelectorAll('input').forEach( function(element) {
          var minHeight = element.clientHeight - 20;
          var textHeight = Number(  window.getComputedStyle(element).getPropertyValue('font-size').replace(/px/, '') );
          console.log('text', textHeight, 'min', minHeight);
          if ( textHeight > minHeight ) {
            console.log('LERP');
            element.style.fontSize = String(minHeight).concat('px');
          }
        });
      }
    });
  </script>
  
</dom-module>