<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../matrix-controls/matrix-controls.component.html">
<link rel="import" href="../matrix-view/matrix-view.component.html">

<dom-module id="matrix-app">
  <template>
    <style>
      h1 {
        display: none;
      }
      
      matrix-controls {
        height: 180px;
        box-sizing: border-box;
      }
      
      matrix-view {
      }
    
    </style>
    
    <h1>
      Matrix Operator
    </h1>
    
    <matrix-controls>
    </matrix-controls>
    
    <matrix-view>
    </matrix-view>
    
  </template>
  
  <script>
    Polymer ({
      is: 'matrix-app'
    });
    
    </script>
    
  </dom-module>