<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="matrix-controls/matrix-controls.component.html">
<link rel="import" href="matrix-view/matrix-view.component.html">

<dom-module id="matrix-app">  
  <template>
    <link href="matrix-app.style.css" rel="stylesheet" type="text/css">
    <h1>
      Matrix Operator
    </h1>
    
    <matrix-controls id="app controls">
    </matrix-controls>
    
    <matrix-view id="app view">
      <template is="dom-repeat" items="{{matrix}}">
        <matrix-row row-data="{{item}}" row-index="{{index}}">
          <matrix-row-controls row-index="{{index}}">
          </matrix-row-controls>
          
          <template is="dom-repeat" items="{{item}}" as="cell">
            <input value="{{cell.value::input}}">
          </template>
          
        </matrix-row>
      </template>
    </matrix-view>
    
  </template>
  
  <script>
    Polymer ({
      is: 'matrix-app',
      listeners: {
        input: 'dispatch'
      },
      properties: {
        matrix: {
          type: Array,
          notify: true
        },
        
      },
      attached: function() {
        
        store.subscribe(this.updateView.bind(this));
        this.updateView();
      },
      dispatch: function() {
        var dispatch_matrix = [];
        this.matrix.forEach( function(row, row_index) {
          dispatch_matrix.push([]);
          row.forEach( function(cell) {
            dispatch_matrix[row_index].push(cell.value);
          });
        });
        store.dispatch( {type: 'typing input', matrix: dispatch_matrix } );
      },
      updateMatrix: function(passed_matrix) {
        var new_matrix = [];
        
        passed_matrix.forEach( function(row, row_index) {
          new_matrix.push( [] );
          row.forEach( function(cell) {
            new_matrix[row_index].push( {value: cell} );
          });
        });
        
        this.matrix = new_matrix;
        return new_matrix;
      },
      
      //==============================
      //         VIEW UPDATER
      //==============================
      
      updateView: function() {
        var state = store.getState();
        
        this.updateMatrix( state.getCurrent() );
        
        // operation selected
        if (state.current_operation.type) {
          this.querySelectorAll('matrix-row-controls').forEach( function(row, index) {
            row.selectOperation(state.current_operation.type);
            row.deselect();
            if (index === state.current_operation.row_1_index) {
              row.select(state.current_operation.type);
            }
          });
        }
        else {
          this.querySelectorAll('matrix-row-controls').forEach( function(row, index) {
            row.deselect();
          });
        }
        
        // three-lines thing clicked
        if ( state.current_operation.open_operations !== null ) {
          this.querySelectorAll('matrix-row-controls').forEach( function(row, index) {
            if (index !== state.current_operation.open_operations) {
              row.closeOperationsTray();
            }
            else {
              row.openOperationsTray();
            }
          });
        }
        else {
          this.querySelectorAll('matrix-row-controls').forEach( function(row) {
            row.closeOperationsTray();
          });
        }
        
        return state.getCurrent();
      }
      
      
      
      
    });
    
  </script>

</dom-module>