<link rel="import" href="../../../bower_components/polymer/polymer.html">

<dom-module id="matrix-row-controls">
  <template>
    
    <style>
      :host {
        position: relative;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -khtml-user-select: none;    /* Konqueror */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* Internet Explorer/Edge */
        user-select: none;
      }
      
      .three-lines {
        /*display: inline-block;*/
        background: linear-gradient(to bottom, hsla(240, 10%, 100%, 1), hsla(240, 10%, 95%, 1) 80%);
        
        position: relative;
        box-sizing: border-box;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        height: 32px;
        width: 34px;
        /*padding: 2px 7px;*/
        margin: 0;
        
        border: 2px solid hsl(0, 0%, 70%);
        border-radius: 3px;
        
        cursor: pointer;
        
        z-index: 50;
      }
      
      .three-lines:active {
        background: orange;
      }
      
      
      .operations {
        transition: all .2s ease-in-out;
        
        background: linear-gradient(to bottom, rgba(20, 20, 30, 0.4), rgba(0, 0, 10, 0.4));
        
        display: flex;
        justify-content: center;
        align-items: stretch;
        
        position: absolute;
        left: 26px;
        top: 0;
        
        padding: 0;
        
        visibility: hidden;
        width: 0;
        height: 32px;
        box-sizing: border-box;
        
        z-index: 0;
        
        overflow: hidden;
        
        cursor: pointer;
        
        border: 2px solid hsl(0, 0%, 70%);
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        
      }
      
      .operations > div:active {
        background: red;
      }
      
      .operations > *:first-child {
        padding-left: 4px;
      }
      
      .operations > * + * {
        border-color: inherit;
        border-style: inherit;
        border-width: 0;
        border-left-width: 1px;
      }
      
      .operations > div {
        box-sizing: border-box;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .operations img {
        height: 10px;
      }
      
      
    </style>
    
    <div on-tap = "handleTap" class = "three-lines" >
      <!-- <svg width="10" height="10"> -->
      <svg width="10px" height="10px">
        <path d="M0,1 10,1" stroke="#000" stroke-width="2"/>
        <path d="M0,5 10,5" stroke="#000" stroke-width="2"/>
        <path d="M0,9 10,9" stroke="#000" stroke-width="2"/>
      </svg>
    </div>
    
    <div class="operations">
      <div>
        <img src="scroll.svg">
      </div>
      <div>
        <img src="cross.svg">
      </div>
      <div>
        <img src="plus.svg">
      </div>
    </div>
    
    
  </template>
  
  <script>
    Polymer ({
      is: 'matrix-row-controls',
      
      properties: {
        isHidden: {
          type: Boolean,
          value: true,
          observer: 'test'
        }
      },
      
      test: function (newValue, old) {
        console.log(newValue, old);
      },

      handleTap: function() {
        var element = this.$$('.operations');
        
        if ( element.style.visibility === 'visible' ) {
          element.style.visibility = 'hidden';
          element.style.width = '0px';
          console.log('hide');
        }
        else {
          element.style.visibility = 'visible';
          element.style.width = '120px';
          console.log('show');
        }
      }
    });
  </script>
  
</dom-module>