<link rel="import" href="../../../bower_components/polymer/polymer.html">

<dom-module id="matrix-controls">
  <template>
    <button>
      Help
    </button>
    <button>
      Reset
    </button>
    <button>
      Clear
    </button>
    
    <br>
    
    <button>
      + Row
    </button>
    <button>
      - Row
    </button>
    
    <br>
    
    <button>
      + Col
    </button>
    <button>
      - Col
    </button>
    
    <br>
    
    <button>
      Undo
    </button>
    <button>
      Check
    </button>
    <button>
      Redo
    </button>
  </template>
  
  <script>
  Polymer ({
    is: 'matrix-controls'
  });
  
  </script>
  
</dom-module>